body {
  text-align: center;
  color: rgb(245,245,245);
  background: rgb(0,212,255);
  background: radial-gradient(circle, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 43%, rgba(2,0,36,1) 95%);
  height: 100vh;
  font-family: 'Vollkorn', serif;
}

.login {
  /*top: 15vw;
  left: 25vw;*/
  width: 50vw;
  padding: 10px;
  background-color: rgb(255,255,255, 0.3);
  border: rgb(255,255,255, 0.2) 1px solid;
  box-shadow: 5px 10px 18px #888888;
}

.login input {
  padding: 10px;
  margin: 10px;
  font-family: 'Vollkorn', serif;
  font-size: 24px;
}

.signup{
  display: inline-block;
  top: 15vw;
  left: 25vw;
  width: 50vw;
  height: 20vh;
  background-color: rgb(255,255,255, 0.3);
  border: rgb(255,255,255, 0.2) 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px #888888;
}

.signup input {
  padding: 5px;
  margin: 10px;
  font-family: 'Vollkorn', serif;
  font-size: 24px;
}

#form {
  margin-bottom: 50px;
  top: 15vw;
  left: 25vw;
  width: 50vw;
  height: 75vh;
  /*margin: auto;*/
  background-color: rgb(255,255,255, 0.3);
  border: rgb(255,255,255, 0.2) 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px #888888;
}

#form input {
  padding: 5px;
  margin: 10px;
  width: 500px;
  font-family: 'Vollkorn', serif;
  font-size: 24px;
}

#editForm {
  margin-top: 125px;
  width: 50vw;
  height: 75vh;
  background-color: rgb(255,255,255, 0.3);
  border: rgb(255,255,255, 0.2) 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px #888888;
}

#editForm input {
  padding: 5px;
  margin: 10px;
  font-family: 'Vollkorn', serif;
  font-size: 24px;
}

#pastEntries {
  width: 50vw;
  height: 40vh;
  /*margin-top: 125px;
  margin-right: 20px;*/
  background-color: rgb(255,255,255, 0.3);
  border: rgb(255,255,255, 0.2) 1px solid;
  padding: 10px;
  text-decoration: none !important;
  list-style-type: none;
  box-shadow: 5px 10px 18px #888888;
}

.card {
  display: inline-block;
  margin-top: 75px;
  margin-bottom: 75px;
  margin-left: 15px;
  margin-right: 10px;
  padding: 30px 15px;
  border: rgb(255,255,255, 0.2) 1px solid;
  height: 45vh;
  width: 55vh;
  background-color: rgb(255,255,255, 0.3);
  box-shadow: 5px 10px 18px #888888;
}

.card h3 {
  font-size: 24px;
}

.card p {
  font-size: 16px;
}

.gradient {
  background: -webkit-linear-gradient(#e7fda3 2%,  #75d5fc 98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button {
  display: inline-block;
  text-decoration: none !important;
  margin: 30px;
  padding: 10px;
  width: 25vh;
  height: 8vh;
  color: rgba(9,9,121,1);
  font-size: 18px;
  background-color: rgb(255,255,255, 0.3);
  box-shadow: 5px 10px 18px #a1a1a1;
  border: rgb(255,255,255, 0.2) 1px solid;
  font-family: 'Vollkorn', serif;
} 

/*#deleteButton {
  display: inline-block;
  text-decoration: none;
  margin: 5px;
  padding: 5px;
  width: 8vh;
  height: 2vh;
  color: rgba(9,9,121,1);
  font-size: 10px;
  background-color: rgb(255,255,255, 0.3);
  box-shadow: 5px 10px 18px #a1a1a1;
  border: rgb(255,255,255, 0.2) 1px solid;
  font-family: 'Vollkorn', serif;
}*/

#intro h1 {
  font-size: 72px;
  font-weight: bold;
}

#intro p {
  font-size: 24px;
}

#description h3 {
  font-size: 36px;
  font-weight: bold;
}

#description p {
  font-size: 18px;
}

@media screen and (min-width: 320px) {
  #intro {
    text-align: center;
    margin-left: 10px;
  }

  #intro h1 {
    font-size: 56px;
  }

  #intro h3 {
    font-size: 36px;
  }

  .card {
    height: 65vh;
    width: 75vw;
  }

  .login {
    margin-top: 60px;
    margin-left: 20px;
    height: 75vh;
    width: 75vw;
  }

  .login input {
    height: 5vh;
    width: 50vw;
  }

  .login button {
    height: 10vh;
    width: 45vw;
  }

  .signup {
    margin-top: 60px;
    margin-left: 20px;
    height: 75vh;
    width: 75vw;
  }

  .signup input {
    height: 5vh;
    width: 50vw;
  }

  .signup button {
    height: 10vh;
    width: 45vw;
  }

  #form {
    margin-right: 130px;
    width: 87vw;
    height: 105vh;
  }

  #form input {
    padding: 5px;
    height: 5vh;
    width: 75vw;
  }

  #pastEntries {
    margin-top: 150px;
    margin-left: -50px;
    width: 87vw;
    height: 50vh;
  }

  #editForm {
    margin-left: -10px;
    width: 87vw;
    height: 105vh;
  }

  #editForm input {
    padding: 5px;
    height: 5vh;
    width: 75vw;
  }
  @media screen and (min-width: 360px) {
    .card {
      height: 55vh;
      width: 75wv;
    }

    .signup {
      margin-top: 60px;
      margin-left: 25px;
      height: 75vh;
      width: 75vw;
    }

    .signup button {
      height: 10vh;
      width: 55vw;
    }

    .login {
      margin-top: 60px;
      margin-left: 25px;
      height: 75vh;
      width: 75vw;
    }

    .login button {
      height: 10vh;
      width: 55vw;
    }
  }

  @media screen and (min-width: 375px) {
    .card {
      height: 45vh;
      width: 75wv;
    }

    .login {
      margin-top: 100px;
      margin-left: 30px;
      height: 60vh;
      width: 75vw;
    }

    .login button {
      height: 10vh;
      width: 45vw;
    }

    .signup {
      margin-top: 100px;
      margin-left: 30px;
      height: 60vh;
      width: 75vw;
    }

    .signup button {
      height: 10vh;
      width: 45vw;
    }
  }

  @media screen and (min-width: 411px) {
    .login {
      margin-top: 120px;
      margin-left: 30px;
      height: 65vh;
      width: 75vw;
    }

    .login button {
      height: 10vh;
      width: 45vw;
    }

    .signup {
      margin-top: 120px;
      margin-left: 30px;
      height: 65vh;
      width: 75vw;
    }

    .signup button {
      height: 10vh;
      width: 45vw;
    }
  }

  @media screen and (min-width: 414px) {
    .card {
      height: 45vh;
      width: 75wv;
    }
  }

  @media screen and (min-width: 768px) {
    .card {
      height: 35vh;
      width: 70wv;
    }

    .login {
      margin-top: 250px;
      margin-left: 75px;
      height: 45vh;
      width: 75vw;
    }

    .login input {
      text-align: center;
      font-size: 18px;
    }

    .login button {
      height: 10vh;
      width: 45vw;
    }

    .signup {
      margin-top: 250px;
      margin-left: 75px;
      height: 45vh;
      width: 75vw;
    }

    .signup input {
      text-align: center;
      font-size: 18px;
    }

    .signup button {
      height: 10vh;
      width: 45vw;
    }
  }

  @media screen and (min-width: 1024px) {
    .card {
      height: 25vh;
      width: 70wv;
    }

    .login h1 {
      font-size: 48px;
    }

    .login {
      margin-top: 250px;
      margin-left: 95px;
      height: 45vh;
      width: 75vw;
    }

    .login button {
      height: 8vh;
      width: 45vw;
    }

    .signup h1 {
      font-size: 48px;
    }

    .signup {
      margin-top: 250px;
      margin-left: 95px;
      height: 45vh;
      width: 75vw;
    }

    .signup button {
      height: 8vh;
      width: 45vw;
    }
  }
}
