body {
  text-align: center;
  color: rgb(245,245,245);
  background: rgb(0,212,255);
  background: radial-gradient(circle, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 43%, rgba(2,0,36,1) 95%);
  height: 100vh;
  font-family: 'Vollkorn', serif;
}

.login {
  position: relative;
  top: 15vw;
  left: 25vw;
  width: 50vw;
  padding: 10px;
  background-color: rgb(255,255,255, 0.3);
  border: rgb(255,255,255, 0.2) 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px #888888;
}

.login input {
  padding: 10px;
  margin: 10px;
  font-family: 'Vollkorn', serif;
  font-size: 24px;
}

.signup{
  display: inline-block;
  top: 15vw;
  left: 25vw;
  width: 50vw;
  height: 20vh;
  background-color: rgb(255,255,255, 0.3);
  border: rgb(255,255,255, 0.2) 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px #888888;
}

.signup input {
  padding: 5px;
  margin: 10px;
  font-family: 'Vollkorn', serif;
  font-size: 24px;
}

#form {
  margin-bottom: 50px;
  position: relative;
  top: 15vw;
  left: 25vw;
  width: 50vw;
  height: 75vh;
  /*margin: auto;*/
  background-color: rgb(255,255,255, 0.3);
  border: rgb(255,255,255, 0.2) 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px #888888;
}

#form input {
  padding: 5px;
  margin: 10px;
  width: 500px;
  font-family: 'Vollkorn', serif;
  font-size: 24px;
}

#editForm {
  margin-top: 125px;
  width: 50vw;
  height: 75vh;
  background-color: rgb(255,255,255, 0.3);
  border: rgb(255,255,255, 0.2) 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px #888888;
}

#editForm input {
  padding: 5px;
  margin: 10px;
  font-family: 'Vollkorn', serif;
  font-size: 24px;
}

#pastEntries {
  width: 50vw;
  height: 40vh;
  margin-top: 125px;
  margin-right: 20px;
  background-color: rgb(255,255,255, 0.3);
  border: rgb(255,255,255, 0.2) 1px solid;
  padding: 10px;
  text-decoration: none !important;
  box-shadow: 5px 10px 18px #888888;
}

.card {
  display: inline-block;
  margin-top: 75px;
  margin-bottom: 75px;
  margin-left: 15px;
  margin-right: 10px;
  padding: 30px 15px;
  border: rgb(255,255,255, 0.2) 1px solid;
  height: 60vh;
  width: 55vh;
  background-color: rgb(255,255,255, 0.3);
  box-shadow: 5px 10px 18px #888888;
}

.card h3 {
  font-size: 24px;
}

.card p {
  font-size: 16px;
}

.gradient {
  background: -webkit-linear-gradient(#e7fda3 2%,  #75d5fc 98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

button {
  display: inline-block;
  text-decoration: none !important;
  margin: 30px;
  padding: 10px;
  width: 25vh;
  height: 8vh;
  color: rgba(9,9,121,1);
  font-size: 18px;
  background-color: rgb(255,255,255, 0.3);
  box-shadow: 5px 10px 18px #a1a1a1;
  border: rgb(255,255,255, 0.2) 1px solid;
  font-family: 'Vollkorn', serif;
} 

#deleteButton {
  display: inline-block;
  text-decoration: none;
  margin: 30px;
  padding: 10px;
  width: 8vh;
  height: 2vh;
  color: rgba(9,9,121,1);
  font-size: 8px;
  background-color: rgb(255,255,255, 0.3);
  box-shadow: 5px 10px 18px #a1a1a1;
  border: rgb(255,255,255, 0.2) 1px solid;
  font-family: 'Vollkorn', serif;
} 

#intro h1 {
  font-size: 72px;
  font-weight: bold;
}

#intro p {
  font-size: 24px;
}

#description h3 {
  font-size: 36px;
  font-weight: bold;
}

#description p {
  font-size: 18px;
}

/*@media screen and (max-width: 321px) {
  .card {
    margin-right: 30px;
    height: 62vh;
    width: 43vh;
  }
}

@media screen and (min-width: 360px) {
   #main-div {
    margin: auto; /* The width is 100%, when the viewport is 800px or smaller */
  /*}

  .card {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: 65vh;
    width: 35vh;
  }

  .signup {
    padding: 2px;
    height: 65vh;
    width: 35vh;
  }

  .signup input {
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    width: 85px;
    height: 15px;
  }

  .signup button {
    width: 55px;
    height: 25px;
    font-size: 12px;
  }

  .login {
    padding: 2px;
    height: 65vh;
    width: 35vh;
  }

  .login input {
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    width: 85px;
    height: 15px;
  }

  .login button {
    width: 55px;
    height: 25px;
    font-size: 12px;
  }

  h1 {
    font-size: 24px;
  }
}

@media screen and (min-width: 620px) {
  .card {
    margin-right: 10px;
    height: 50vh;
    width: 39vh;
  }

  .homePageButton {
    margin-right: 15px;
  }

  .signup {
    height: 200px;
    margin-right: 40px;
  }
}


@media screen and (min-width: 768px) {
  .card{
    margin-right: 215px;
    display: block;
    padding-top: 10px;
    height: 50vh;
    width: 30vh;
  }

  .card p {
    font-size: 24px;
  }

  .homePageButton {
    display: block;
    margin-top: 30px;
    margin-left: 250px;
  }

  .signup {
    margin-top: 200px;
    height: 200px;
    padding: 15px;
  }

  .login {
    margin-top: 200px;
    height: 200px;
  } 

  #ulDiv {
    margin-top: 200px;
    margin-right: 150px;
    height: 200px;
  }
}*/